@media only screen and (max-width : 1150px) and (min-width :761px) {
    .container{
        margin : 20px;
        display : inline-grid;
        grid-template-columns : repeat(3, 1fr);
        grid-auto-rows : 2fr; 
        gap : 10px 10px;
        position: absolute;
        top : 150px;
        z-index: -1;
    }

    img{
        width : 200px
    }

    figure{
        max-width : 200px
    }
}


@media only screen and (min-width :1151px) {
    .container{
        margin : 20px;
        display : inline-grid;
        grid-template-columns : repeat(5, 1fr);
        grid-auto-rows : 2fr; 
        gap : 10px 10px;
        position: absolute;
        top : 150px;
        z-index: -1
    }

    img{
        width : 200px
    }

    figure{
        max-width : 200px
    }
}

@media only screen and (max-width : 760px) {
    .container{
        margin : 20px;
        display : inline-grid;
        grid-template-columns : repeat(2, 1fr);
        grid-auto-rows : 2fr; 
        gap : 10px 10px;
        position: absolute;
        top : 150px;
        z-index: -1
    }

    img{
        width : 130px
    }

    figure{
        width : 130px
    }
}